<div class="container box_1170" th:if="${home}">
    <div class="row fullscreen d-flex align-items-center justify-content-center">
        <div class="banner-content text-center col-lg-8">
            <h1>
                Not <br/>
                The Perfect Blog
            </h1>
        </div>
    </div>
</div>


    <div class="overlay overlay-bg" th:if="${home == null}"></div>
    <div class="container" th:if="${home == null}">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Not
                    The Perfect Blog
                </h1>
                <!--<p class="text-white link-nav"><a href="index.html">Home </a> <span class="lnr lnr-arrow-right"></span>-->
                    <!--<a href="blog-details.html">-->
                        <!--Blog Details</a></p>-->
            </div>
        </div>
    </div>