<header id="header">
    <div class="container box_1170 main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a th:href="@{/}"><img th:src="@{/img/logo.png}" alt="" title="" /></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a th:href="@{/}">Home</a></li>

                    <li><a th:href="@{/article/create}">Create Article</a></li>

                    <li><a th:href="@{/profile}">My Profile</a></li>


                        <a th:href="@{/logout}">
                            Logout
                        </a>

                        <a th:href="@{/register}">
                            REGISTER
                        </a>

                        <a th:href="@{/login}">
                            LOGIN
                        </a>
                </ul>
            </nav>
        </div>
    </div>
</header>