<div class="single-widget search-widget">
    <form class="example" th:action="@{/article/search}" style="margin:auto;max-width:300px" th:method="post">
        <input type="text" placeholder="Search Article" name="criteria"/>
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>

<div class="single-widget protfolio-widget">
    <img th:class="@{img-fluid}" th:src="@{/img/blog/user3.jpg}" alt=""/>
    <a href="#">
        <h4>Yoan Dimitrov</h4>
    </a>
    <div class="desigmation">
        <p>Programing beginner</p>
    </div>
    <p>
        I am an optimistic, candid, responsible and social person.
        I am confident with my thinking analysis that I can convince people with my points.
        I am self-reliant, well behaved and above all, a person of strong character.
        I take initiative whenever the situation arises and come off with flying colours.
    </p>
    <ul>
        <div class="news_socail ml-auto">
            <a href="https://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="https://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
        </div>
    </ul>
</div>

<div class="single-widget popular-posts-widget">
    <h4 class="title">Recent Posts</h4>
    <div class="blog-list ">

        <div class="single-popular-post d-flex flex-row" th:each="article : ${articles}">
            <div class="popular-thumb">
                <a th:href="@{/article/{id}(id=${article.id})}">
                    <img th:class="@{img-fluid}" style="width: 100px; height: auto" th:src="@{'data:image/jpeg;base64,'+${article.picture}}" alt=""/>
                </a>
            </div>
            <div class="popular-details">
                <a th:href="@{/article/{id}(id=${article.id})}">
                    <h4 th:text="${article.title}"></h4>
                </a>
                <p class="text-uppercase" th:text="${article.date}"></p>
            </div>
        </div>

    </div>
</div>