<section class="blog_area section-gap single-post-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="main_blog_details">
                    <img id="preview-image" class="img-fluid" th:src="@{'data:image/jpeg;base64,'+${article.picture}}" alt=""/>

                    <h4 th:text="${article.title}"></h4>
                    <div class="user_details">
                        <div class="float-left">
                            <!--<a href="#">Lifestyle</a>-->
                            <!--<a href="#">Gadget</a>-->
                            <p>
                                <a  th:each="tag : ${article.tags}"  th:text="${tag.name}"></a>
                            </p>
                        </div>
                        <div class="float-right">
                            <div class="media">
                                <div class="media-body">
                                    <img style="width: 50px; height: auto" th:src="@{'data:image/jpeg;base64,'+${article.author.picture}}" alt=""/>

                                    <span  th:text="${user.fullName}"></span>

                                        <span class="lnr lnr-calendar-full"></span>
                                        <span th:text="${article.date}"></span>

                                </div>
                                <div class="d-flex">

                                    <img th:src="@{user.}" alt=""/>

                                </div>
                            </div>
                        </div>
                    </div>
                    <p th:text="${article.content}"> </p>

                    <footer>

                        <div class="pull-right">

                            <th:block sec:authorize="isAuthenticated()" th:if="${user.isAdmin() OR user.isAuthor(article)}">
                                <a class="btn btn-success btn-xs" th:href="@{/article/edit/{id}(id = ${article.id})}">Edit</a>
                                <a class="btn btn-danger btn-xs" th:href="@{/article/delete/{id}(id = ${article.id})}">Delete</a>
                            </th:block>
                            <a class="btn btn-default btn-xs" th:href="@{/}">back &raquo;</a>
                        </div>
                    </footer>
                    <div class="news_d_footer">
                            <style>
                                .fa {
                                    font-size: 50px;
                                    cursor: pointer;
                                    user-select: none;
                                }

                                .fa:hover {
                                    color: darkblue;
                                }
                            </style>

                        <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>

                        <script>
                            function myFunction(x) {
                                x.classList.toggle("fa-thumbs-down");
                            }
                        </script>

                        <div class="news_socail ml-auto">
                            <a href="https://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="https://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
             <div class="navigation-area">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                            <div class="thumb">
                                <a href="#"><img class="img-fluid" src="img/blog/prev.jpg" alt=""/></a>
                            </div>
                            <div class="arrow">
                                <a href="#"><span class="lnr text-white lnr-arrow-left"></span></a>
                            </div>
                            <div class="arrow">
                                <a href="#"><span class="lnr text-white lnr-arrow-right"></span></a>
                            </div>
                            <div class="thumb">
                                <a href="#"><img class="img-fluid" src="img/blog/next.jpg" alt=""/></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comments-area">
                    <h4 th:text="${#lists.size(comments)} + ' Comments'"></h4>
                    <div class="comment-list" th:each="comment : ${comments}">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img style="width: 70px; height: auto" th:src="@{'data:image/jpeg;base64,'+${article.author.picture}}" alt=""/>
                                </div>
                                <div class="desc">
                                    <h5><a href="#" th:text="${comment.author.fullName}"></a></h5>
                                    <span th:text="${article.date}"></span>

                                    <p class="comment" th:text="${comment.content}">

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment-form">
                    <h4>Leave a Reply</h4>
                    <form th:action="@{'/article/' + ${article.id} + '/comment/create'}" method="post">
                        <div class="form-group">
                                <textarea class="form-control mb-10" rows="5" name="content" placeholder="Messege"
                                          onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                        </div>
                        <a type="submit" class="primary-btn submit_btn text-uppercase">
                            <button>Submit</button>
                        </a>
                    </form>
                </div>
            </div>

            <div class="col-lg-4 sidebar" th:include="fragments/new/sideBar">

            </div>
        </div>
    </div>
</section>